---
layout: default
---

<div class="home">

  {% if paginator.page == 1 %}
  <h1 class="page-heading">Uusimmat</h1>
  {% endif %}

  {% if paginator.page != 1 %}{% include pagination.html %}{% endif %}

  <ul class="post-list">
    {% for post in paginator.posts %}
    <li class="post-img-container nojavascript">
      <div class="post-block">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.photo }}" alt="{{ post.title }}">
          <div class="title-block">
            <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</span>
            {% if post.categories contains 'ulkona' or post.categories contains 'ulkomailla' %}
            <span class="post-meta">{{ post.restaurant }}</span>
            {% endif %}
            <h2>{{ post.title }}</h2>
          </div>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

  <p class="rss-subscribe">tilaa <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a> syöte</p>
  <script type="text/javascript" src="/script/postlist.js"></script>

</div>
