---
layout: page
title: Ravintolat
---

{% capture restaurants %}
{% for post in site.categories['ulkona'] %}
{{ post.restaurant }};
{% endfor %}
{% endcapture %}
{% assign unique = '' %}
{% assign rest = restaurants | split:';' | sort %}
{% for r in rest %}
  {% unless unique contains r %}
    {% if unique == '' %}
    {% capture unique %}{{ r }}{% endcapture %}
    {% else %}
    {% capture unique %}{{ unique }};{{ r }}{% endcapture %}
    {% endif %}
  {% endunless %}
{% endfor %}
{% assign rest = unique | split:';' %}

<div class="tag-list">
  {% for i in (1..rest.size) %}
  {% if rest[i] != null %}
  {% assign restaurant = rest[i] | strip %}
  <div class="tag-block">
    <div class="tag-head" id="{{ restaurant }}">
      <img src="
        {% for post in site.categories['ulkona'] %}
        {% assign postrestaurant = post.restaurant | strip %} 
        {% if postrestaurant == restaurant %}
        {{ post.photo }}
        {% break %}
        {% endif %}
        {% endfor %}">
      <h2>{{ restaurant }}</h3>
    </div>
    <ul>
      {% for post in site.categories['ulkona'] %}
      {% assign postrestaurant = post.restaurant | strip %}
      {% if postrestaurant == restaurant %}
      <li class="tag-item">
        {{ post.date | date: "%d.%m.%Y" }}: <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}
</div>
