---
layout: page
title: Reseptit
---

{% capture tags %}
{% for tag in site.tags %}
{{ tag[0] }}
{% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

<div class="tag-list">
  {% for tag in sortedtags %}
  {% if tag != 'Illallinen' and tag != 'Lounas' %}
  <div class="tag-block">
    <div class="tag-head">
      <img src="{{ site.tags[tag][0].photo }}">
      <h2 id="{{ tag }}">{{ tag }}</h3>
    </div>
    <ul>
      {% for post in site.tags[tag] %}
      {% if post.categories contains 'resepti' %}
      <li class="tag-item">
        {{ post.date | date: "%d.%m.%Y" }}: <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}
</div>
